body {
    font-family: 'Abel', sans-serif;
    text-align: center;
    margin: 35vh 0;
    color: #006699;
    font-size: 1.5rem;
    background-color: #f2d9e6;
}

h1 {
    font-weight: bold;
}

p {
    margin: 15px auto;
    max-width: 75%;
}

#input {
    margin-top: 15px;
}

#result {
    font-weight: bolder;
    overflow-wrap: break-word;
}

#submit {
    cursor: pointer;
    background-color: #D5D77E;
}

#submit:hover {
    background-color: #AAAC4D;
}